<div>
  <div ng-if="bar.options.count">{{bar.getCount() || bar.data.length}} {{options.listLabel || 'Results'}}</div>
  
  <div ng-if="bar.options.filters">
    <select ng-model="bar.filter.key" ng-change="bar.filter.onchange()" ng-options="item[0] as item[1] for item in bar.filter.options" ng-if="bar.filter.hasOptions()"></select>
  </div>

  <div ng-if="bar.options.views">
    <a href="" ng-repeat="view in bar.views.options" ng-click="bar.views.setView(view)">{{view}}</a>
  </div>

  <div ng-if="bar.options.sort">
    <select ng-model="bar.sort.key" ng-change="bar.sort.onchange()" ng-options="item[0] as item[1] for item in bar.sort.options" ng-if="bar.sort.hasOptions()">
    </select>
    <a href="" ng-click="bar.sort.reverse()">flip</a>
  </div>
  
  <div ng-if="bar.options.search">
    <a href="" ng-click="bar.search.toggle()">toggle search</a>
    <input type="text" placeholder="Filter search" ng-if="bar.search.isOpen()" ng-model="bar.search.text">
  </div>

  <div ng-if="bar.options.actions">
    <select ng-model="bar.actions.key" ng-change="bar.actions.onchange()" ng-options="item[0] as item[1] for item in bar.actions.options" ng-if="bar.actions.hasOptions()"></select>
  </div>
</div>